 <div class="sidebar-header">
        <h3 class="text-center">Acortador</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Proyecton't</p>

        <li class="nav-item">
             <NavLink  href="" Match="NavLinkMatch.All" >
                 <i class="fa-regular fa-address-card"></i>
                 Acortador
                 
            </NavLink>
        </li>

    @*     <li class="nav-item">
     <li class="nav-item">
              <NavLink  href="counter">
                 <i class="fa-regular fa-address-card"></i> Counter
            </NavLink>
        </li>
              <NavLink  href="fetchdata">
                 <i class="fa-regular fa-address-card"></i> Fetch data
            </NavLink>
        </li>

        <li>
            <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false">
                <i class="fa-regular fa-address-card"></i>
                Paginas
                <i class="fa-solid fa-caret-down float-end"></i>
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li class="nav-item">
                    <NavLink href="">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink  href="counter">Contador</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink  href="fetchdata">Fetch data</NavLink>
                </li>
            </ul>
        </li>*@



    </ul>

   <!-- <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="btn">Documentacion</a>
        </li>
    </ul>
    <a href="#" class="btn btn-danger logout">
        BTN Example
        <i class="fas fa-sign-out"></i>
    </a> --> 
